HUGGINGFACE_API_KEY_FULLONE
Needs Attention
All Environments

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
Updated 
9/27/25


OPENROUTER_API_KEY
Needs Attention
All Environments

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
Added 
9/27/25


REPLICATE_API_TOKEN
Needs Attention
All Environments

r8_VyqDiJpgULBELiq5yJZgF5A9p4UeJAf3fVEd2
Added 
9/27/25


NEXTAUTH_URL
All Environments

https://glauber.ai
Added 
9/27/25


NEXT_PUBLIC_APP_URL
All Environments

https://glauber.ai
Added 
9/27/25


NEXTAUTH_SECRET
Needs Attention
All Environments

RjG3PUKXtJB9QlJE89vAxFeqG3SJEx5V9mUPl2Ygbww=
Updated 
9/27/25


glauber_DATABASE_URL
Prisma Postgres
Needs Attention
All Environments

prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKWUcwUVIwUzVCS01SOE5QRUUzWjVaQ04iLCJ0ZW5hbnRfaWQiOiJlZjJhNTEyNDk4YTY1YzgwYWFmNGVmYTEzN2U2YTRkMTk5Y2FhZDM2YzVkZGY1ZWQ2ZjJlZmNhMTA2NDdjOWM2IiwiaW50ZXJuYWxfc2VjcmV0IjoiNmMwYmIyNDktMDQyYi00ZmRmLWJhNzktYWY1MGZiZDdhOTEzIn0.i3ppYxCyN2pdxvDtVwu40vAKLzesCnkHBD1Wthg-wSM
Added 
8/30/25


STRIPE_SECRET_KEY
Needs Attention
All Environments

sk_test_51RkDfW02szSvDYW23mGySxFLeAv2y1e4jxic5Ea5j3y2h4sVcCGgsjGdGPnVhYiDPBVjRxXqTC0giuSgviTCAQUz00lOvejZ6e
Added 
7/12/25


NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
All Environments

pk_test_51RkDfW02szSvDYW28c4Ml3K65pRti6oNLNvh6h76dQSCVVSMQxGIdavRthcMzPXNFSd6KHLUQiBQ27hfjNXOHh4x00JpBgipaB
Added 
7/12/25


GOOGLE_API_KEY
Needs Attention
All Environments

f43wrfsdf
Added 
7/8/25


COHERE_API_KEY
Needs Attention
All Environments

dsfdsfds43er342
Added 
7/8/25


MISTRAL_API_KEY
Needs Attention
All Environments

r324sfdsf
Added 
7/8/25


STABILITY_API_KEY
Needs Attention
All Environments

w3rw3r43w
Added 
7/8/25


JWT_SECRET
Needs Attention
Production

c18120a34e4bc1a7536ac9cb8918090d64b296d79e2d2e275f626df6a0c64846